<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">

<beans>
  <bean id="SldXmlReaderExclusionFilter" class="org.geoserver.platform.NameExclusionFilter">
    <property name="beanId" value="sldXmlReader" />
  </bean>
</beans>
