<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd">

  <context:component-scan base-package="org.geoserver.printng.rest" />

  <!--
  Provide a public endpoint to serve printing output from. Output files are
  generated using a random UUID and cleaned out periodically.
  
  Ideally this mapping (which must correspond to the actual file paths in the
  datadir would not have to be hard-coded in both places (GeoserverSupport, too)
  -->
  <bean id="printngFilePublisherMapping"
    class="org.springframework.web.servlet.handler.SimpleUrlHandlerMapping">
     <property name="alwaysUseFullPath" value="true"/>
     <property name="mappings">
       <props>
        <prop key="/printng/output/**">filePublisher</prop>
       </props>
     </property>
  </bean>

</beans>
