name: Build image (manual)

on: workflow_dispatch
run-name: Build ${{ github.ref_name }}

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      id-token: write
      contents: read

    steps:
    - uses: actions/checkout@v4
      with:
        path: 'geoserver-geonode-ext'
    - name: Clone Geoserver
      run: |
        git clone --depth 1 --branch ${{ github.ref_name }} https://github.com/geoserver/geoserver
    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v3
    - name: Set up JDK 11 for x64
      uses: actions/setup-java@v3
      with:
        java-version: '11'
        distribution: 'temurin'
        architecture: x64
        cache: maven
    - name: Run the Maven phase
      run: |
        pushd geoserver/src
        mvn -T 4 clean install dependency:tree -Dmaven.wagon.http.pool=false -Dmaven.wagon.http.retryHandler.count=100 -Djava.awt.headless=true -Dtest.maxHeapSize=256M -DskipTests -U -PsldService,printing,monitor,control-flow,wps,kmlppio,wps-download,xlsxppio,excel,querylayer,gdal,authkey,css,ysld,wmts-multi-dimensional,backup-restore,oauth2-geonode,oauth2-openid-connect,geofence-server,geofence-server-postgres,geofence-wps
        popd
    - name: Prepare artifacts
      env:
        GEOSERVER_VERSION: ${{ github.ref_name }}
        #AWS_ACCESS_KEY_ID: "aws_test_id"
        #AWS_SECRET_ACCESS_KEY: "aws_test_secret"
        #AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
        #AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
      run: |
         chmod +x geoserver-geonode-ext/.github/workflows/artifacts.sh
         ./geoserver-geonode-ext/.github/workflows/artifacts.sh
      shell: bash
    - name: Configure AWS credentials
      uses: aws-actions/configure-aws-credentials@v4
      with:
        role-to-assume: ${{ secrets.AWS_ROLE_ARN }}
        aws-region: eu-south-1
    - name: Upload artifacts to S3
      run: |
        aws s3 cp ./geoserver/src/web/app/target/artifacts \
          s3://artifacts.geonode.org/geoserver/${{ github.ref_name }} \
          --recursive
    - name: Final message
      run: echo "Build and push from branch ${{ github.ref_name }} completed"
